html, body {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 760px;
    height: 560px;
    max-height: 560px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#titleRight {
    display: flex;
    flex-direction: column;
}

#progress {
    width: 400px;
    height: 23px;
    border: 1px solid green;
}

#progressBar {
    display: none;
    width: 0;
    height: 23px;
    background-color: #10ef10;
}

#error {
    display: none;
    background-color: #f9b5b5;
    border: 1px solid red;
    border-radius: 4px;
    font-weight: bold;
    font-style: italic;
    padding: 3px;
}

#buyAll {
    display: none;
}

#parts {
    flex-grow: 1;
    overflow-y: scroll;
}

td {
    height: 1.313rem;
}

tr.even {
    background-color: #eee;
}

tr.odd {
    background-color: #ccc;
}
